<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="628fdf">  <td>18/10/28 15:33:59</td>   <td>0</td> <td title="&gt;&gt;Projectmethods.startTest()[pri:0, instance:testcases.TC001mergeleads@2ac273d3]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/10/28 15:33:59</td>   <td>404</td> <td>&nbsp;</td><td title="&gt;&gt;TC001createlead.setData()[pri:0, instance:testcases.TC001createlead@71423665]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/28 15:33:59</td>   <td>427</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Projectmethods.data()[pri:0, instance:testcases.TC001mergeleads@2ac273d3]">&gt;&gt;data</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1058228611</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/28 15:33:59</td>   <td>427</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Projectmethods.data()[pri:0, instance:testcases.TC001createlead@71423665]">&gt;&gt;data</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@1149659300</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/28 15:33:59</td>   <td>505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001mergeleads.mergerlead()[pri:0, instance:testcases.TC001mergeleads@2ac273d3]">mergerlead</td> 
  <td>TestNG-test=Test-1@1058228611</td>   <td></td> </tr>
</table>
